/*box-sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*prepare page*/
html,
body {
    height: 100%;
    margin: 0;
    background-color: #f5f2ff;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a31c7;

}

.calculator {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vmin;
    height: 70vmin;
    box-shadow: 0 0 10px #ded6f4;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
}

.display {
    border-color: #5a31c7;
    max-width: 100%;
    max-height: 100%;
    height: 30vmin;
    background-color: #9c83dd;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
}

.operation {
    display: flex;
    justify-content: center;
    font-size: 25px;
    flex-wrap: wrap;
}

.result {
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin: 0;
    flex-wrap: wrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
    height: 40vmin;
    width: 100%;
    padding: 5px;
}

.op-button,
.num-button,
.key-button {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #e0d7ff;
    cursor: pointer;
}

.num-button:hover {
    background-color: #c0b7e2;
}

.op-button {
    background-color: #bdade9;
}

.op-button:hover {
    background-color: #ad9cdb;
}

.key-button {
    background-color: #9c83dd;
}

.key-button:hover {
    background-color: #8d72cf;
}